<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node File upload</title>
  </head>
  <body>

    <div class="container">
      <h1>File Upload</h1>

      <%= typeof msg != 'undefined'? msg: '' %>
      <form action="/upload" method="POST">
        <input name="myImage" type="file" />
        <input  type="text" />

        <button type="submit">Upload</button>
      </form>
    </div>

  </body>
</html>
 